<!-- Default home page -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>

<div class="default-page">
  <div class="header">
    <!-- <h1 id="main-title" class="container"><%= __('A brand new app.') %></h1>
    <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3> -->
    <h1 id="main-title" class="container">Github Code to PDF</h1>
    <!-- <h3 class="container">You're looking at: </h3> -->
  </div>
  <div class="main container clearfix">
    <!-- <h1>Getting started</h1>
    <p>Don't worry, we've got your back.</p> -->
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <div class="sprite one"></div>
          <h3>Enter a github repo</h3>
          <input type="text" name="Repo" value="" placeholder="username/repo" class="project-input">
          <button id="enter-project"> Enter</button>
           <!-- TODO: i guess this should route to a builder page? -->
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite two"></div>
          <h3>
            Examples:
          </h3>
          <!-- TODO: add sample PDF -->
          <embed src="/pdfs/test.pdf" type="application/pdf" height="300px" width="100%">
       
        </div>
      </li>
    </ul>
  </div>
</div>
